
<div class="12 S10 M7 L6 center">
	<h1>Allow access to an article</h1>
	<form id="signup-form" novalidate="" method="POST" action="/ft/add">
		<div class="o-forms-group">
			<label class="o-forms-label">Article URL / UUID</label>
			<input type="text" name="uuid" placeholder="Insert a Content API UUID or article URL here" class="o-forms-text"/>
		</div>
		<button type="submit" class="o-buttons o-buttons--standout o-buttons--big">Add</button>
	</form>

	<div class="overlay" data-visible="false"></div>

</div>

<script>

	var overlay = document.querySelector('.overlay');
	var initialOverlayClasses = overlay.getAttribute('class');
	
	var queryString = window.location.search;
	queryString = queryString.split("?")[1].split("&");

	var queryParams = {};

	for(var x = 0; x < queryString.length; x += 1){
		var splitString = queryString[x].split('=');
		queryParams[splitString[0]] = splitString[1];
	}

	function showOverlay(success, msg, time){

		if(success){
			overlay.classList.add('success');	
		} else {
			overlay.classList.add('failure');
		}

		overlay.textContent = msg;
		overlay.dataset.visible = "true";

		setTimeout(function(){
			overlay.textContent = "";
			overlay.setAttribute('class', initialOverlayClasses);
			overlay.dataset.visible = "false";
		}, 3000);

	}


	if(queryParams.success){

		if(queryParams.success === "true"){
			showOverlay(true, "Article successfully added", 3000);
		} else {
			showOverlay(false, "Article was not added", 3000);
			
		}

	}

</script>