<form id="signup-form" novalidate="" method="POST" action="/ft/add">
	<input type="text" name="uuid" placeholder="Insert a Content API UUID or article URL here" class="o-forms-text"/>
	<button type="submit" class="o-buttons o-buttons--standout o-buttons--big">Add</submit>
</form>

<script src="/javascripts/form-submit.js"></script>