<h1>{{title}}</h1>
<table class="o-table exposed-articles" data-o-component="o-table" >

	<thead>
		<th>Content UUID</th>
		<th></th>
	</thead>

	<tbody>
		{{#each visibleDocs}}
			<tr>
				<td><a target="_blank" href="https://www.ft.com/content/{{this.uuid}}">{{this.uuid}}</a></td><td><a href="/ft/delete/{{this.uuid}}">Remove</a></td>
			</tr>
		{{/each}}
	</tbody>

</table>

<a href="/ft/add/">Add Article</a>